@using System.Globalization
@model SimpleScheduler.Views.SimpleScheduler.Index;

@{
    Layout = null;
}

<!DOCTYPE html> 
<html>
<head>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/simple-scheduler.js"></script>
    <title>Simple scheduler</title>
</head>
<body>
<div>
    Simple scheduler
</div>

<div class="jobs">
    <div style="display: none" id="job-unknown">
        <span class="key">0</span>
        <span class="state">0</span>
        <span class="start-time">0</span>
        <span class="end-time">0</span>
    </div>
    
    @foreach (var info in Model.ExecutionInfos)
    {
        <div id="job-@info.Id">
            <span class="key" >@info.Key</span>
            <span class="state">@info.State</span>
            <span class="start-time">@info.Started</span>
            <span class="end-time">@info.Ended</span>
        </div>
    }
</div>
</body>
</html>
