.tag.Ended{
    background-color:var(--bulma-primary);
    color: var(--bulma-primary-invert);
}

.tag.Running{
    background-color:var(--bulma-info);
    color: var(--bulma-info-invert);
}

.tag.Failed{
    background-color:var(--bulma-danger);
    color: var(--bulma-danger-invert);
}

.grid.execution-header{
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto 50px;
}

.grid.execution-information{
    grid-template-columns: 33% 66%;
    height: 400px;
}

.clickable-row {
    cursor: pointer;
}